// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: hsl(230, 70%, 55%);
$primary-dark: hsl(230, 75%, 45%);
$secondary: hsl(230, 20%, 70%);
$secondary-dark: hsl(230, 25%, 60%);

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Utility classes
.btn-unstyled {
    border: none;
    background-color: inherit;
}

.table-primary {
    --bs-table-bg: #{$secondary};
    color: black;
}

.btn-primary {
    background-color: #{$primary};
}

.btn-primary:hover {
    background-color: #{$primary-dark};
}

.btn-secondary {
    background-color: #{$secondary};
}

.btn-secondary:hover {
    background-color: #{$secondary-dark};
    color: white;
}

.alert-warning {
    background-color: #{$primary};
}

.table-dark {
    --bs-table-hover-bg: #{$secondary};
    color: #fff;
    border: 1px solid #{$secondary};
}

.table-dark tr:hover a {
    color: black;
}

.nav-link {
    font-weight: 500;
}

.pagination a.bg-dark:hover {
    background-color: #{$primary} !important;
}

.pagination .page-link,
.pagination .page-item.disabled .page-link {
    border: 1px solid #{$secondary};
}

main {
    min-height: 85vh;
}
