/* body {
  background-color: black;
} */

/* i {
  color: red;
} */

:root,
[data-bs-theme=light] {
  /* --bs-primary: #ff0000; Set the primary color to red */
  --bs-primary-rgb: 0, 0, 0; /* Set the primary color to red */
  --bs-primary: hsl(0, 0%, 0%);
}

.btn-unstyled {
  border: none;
  background-color: inherit;
}

/* a {
  text-decoration: none;
  color: black;
} */